@model WebApp.Models.Home.PaginaInicialViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Quantidade de carros: @Model.QuantidadeDeCarros</h4>
</div>
<div class="text-center">
    <h4>Quantidade de fabricantes: @Model.QuantidadeDeFabricantes</h4>
</div>
<div class="text-center">
    <h4>Quantidade de proprietários: @Model.QuantidadeDeProprietarios</h4>
</div>
<div class="text-center">
    <h4>Quantidade de pessoas: @Model.QuantidadeDePessoas</h4>
</div>
